<%= link_to "Edit Collection",
            edit_collection_path(@collection) %>

<%= link_to "Delete Collection",
            collection_path(@collection),
            method: :delete,
            confirm: "Delete this Collection?" %>

<div>
  COLLECTION NAME: <%= @collection.name %><br />
  <div>
    <% if @entries.count > 0 %>
      COLLECTION TOTAL: <%= @entries.all[@entries.count - 1].total %><br />
    <% else %>
      Update your total
    <% end %>
  </div>

  <%= form_for [@collection, @entry] do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :total, "Update Total" %>
      <%= f.text_field :total %>
    </p>

    <%= f.submit "Update Total" %>
  <% end %>

  <br />
  <div>
    <% if @entries.count > 0 %>
      ENTRIES</br>
      <% 0.upto(@entries.count - 1) do |i| %>
        <div>
          <%= @entries[i].total %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_for(@collection) do |f| %>
    <%= f.error_messages %>

    <%= f.label      :name %>
    <%= f.text_field :name, value: "Nested Collection Name" %><br />

    <%= f.label      :description %>
    <%= f.text_field :description, value: "" %><br />

    <%= f.submit "Add Nested Collection" %>
  <% end %>
</div>

<% @collection.children.each do |child_collection| %>
  <br />
  <%= child_collection.name %><br />
  render 'child_collection'
<% end %>
